@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: poppins;
  background-color: #f5f5f5; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-padding-top: 0rem; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: poppins;
  font-optical-sizing: auto;
  font-style: normal;
  color: #000; }

.header {
  margin: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1rem;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.header-img {
  width: 20rem;
  padding-top: 30px;
  padding-bottom: 30px;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.2s; }
  .header-img:hover {
    transform: scale(1.05);
    transition: all 0.3s; }
  @media (min-width: 488px) {
    .header-img {
      width: 30rem;
      height: auto;
      cursor: pointer;
      display: flex;
      object-fit: cover; } }

/*navbar*/
.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  font-weight: 300;
  font-size: 1.7rem;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.4s; }
  .nav-links a {
    text-decoration: none; }
  @media (min-width: 488px) {
    .nav-links {
      flex-direction: row;
      font-size: 1.2rem; } }
  .nav-links li {
    padding: 2rem;
    padding-top: 1rem; }
    .nav-links li:hover {
      transform: scale(1.1);
      transition: 0.3s; }
    .nav-links li a {
      text-decoration: none; }

/* Estilos para el menú hamburguesa */
/* Estilos para el menú hamburguesa */
.hamburger, .close {
  font-size: 30px;
  cursor: pointer;
  z-index: 100;
  position: fixed;
  top: 30px;
  right: 30px;
  background-color: transparent;
  color: transparent; }

.hamburger {
  display: none;
  /* Muestra el ícono de menú hamburguesa por defecto */ }

.bx-menu, .bx-x {
  background-color: transparent; }

.close {
  display: none;
  /* Oculta el ícono de cerrar por defecto */ }

/* Estilos cuando el menú está activo */
.nav-links.active ~ .hamburger {
  display: none;
  /* Oculta el ícono de menú cuando el menú está activo */ }

.nav-links.active ~ .close {
  display: block;
  /* Muestra el ícono de cerrar cuando el menú está activo */ }

/* Responsivo */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 70%;
    background: rgba(253, 251, 251, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    z-index: 99; }
  .nav-links.active {
    right: 0; }
  .nav-links a {
    margin: 15px 0;
    font-size: 25px;
    opacity: 1;
    animation: none; }
  .hamburger {
    display: block;
    /* Muestra la hamburguesa en pantallas pequeñas */ }
  .close {
    display: none;
    /* La "X" solo aparece cuando se activa */ } }

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes slideSci {
  0% {
    transform: translateX(100px) rotate(45deg);
    opacity: 0; }
  100% {
    transform: translateX(0) rotate(45deg);
    opacity: 1; } }

@keyframes zoomOut {
  0% {
    transform: scale(1.1);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

.footer {
  margin: 0;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .footer .footer-img {
    height: 8rem;
    border-radius: 100%;
    width: 8rem; }
  .footer .social-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 8rem; }
    .footer .social-icons-container .social-icon:hover {
      transform: scale(1.3);
      transition: 0.3s;
      color: #000; }

.social-icon {
  height: 6rem;
  width: 7rem;
  background-image: url(/imagenes/instagram.png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat; }
  .social-icon .social-icon:hover {
    transform: scale(1.3);
    transition: 0.3s;
    color: #000; }

/* AGREGRAR MAS*/
.social-icon:hover {
  transform: scale(1.3);
  transition: 0.3s;
  color: #000; }

.social-icon:nth-child(2) {
  background-image: url(/imagenes/facebook.png); }

.social-icon:last-child {
  background-image: url(/imagenes/linkedin.png); }

.copyright {
  color: #000000;
  opacity: 1;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 1rem; }

.main-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  max-width: 130rem; }
  .main-texto h1 {
    font-size: 2rem;
    line-height: 1.5;
    padding: 2rem; }

p {
  font-size: 1.3rem;
  font-weight: 300; }

.section-portada {
  max-width: 100%;
  display: flex;
  /* Asegura que la imagen se centre */
  justify-content: center;
  /* Centra la imagen horizontalmente */
  align-items: center;
  /* Centra la imagen verticalmente */ }

.img-portada {
  width: 100%;
  /* Ajusta al 100% del contenedor */
  object-fit: cover;
  /* Ajusta la imagen sin distorsionarla */ }
  @media (min-width: 488px) {
    .img-portada {
      height: 60rem;
      /* Cambia la altura en pantallas más pequeñas */ } }

/* Clase para deshabilitar el scroll */
.no-scroll {
  overflow: hidden; }

.titulo-render {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 96px; }
  .titulo-render:hover {
    transform: scale(1.05);
    transition: 0.3s; }
  .titulo-render .lineas-titulo {
    flex-grow: 1;
    display: block;
    border-top: 1px  solid black; }
  .titulo-render .titulo-render-texto {
    flex-grow: 0;
    display: block;
    margin: 0 16px;
    padding: 10px 16px;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    background-color: #121111;
    color: white; }
  .titulo-render .lineas-titulo-2 {
    flex-grow: 1;
    display: block;
    border-top: 1px  solid black; }

.section__concepto_img {
  display: flex;
  max-width: 1300px;
  height: 540px;
  margin: auto;
  padding-top: 20px; }
  .section__concepto_img img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.5s ease, transform 0.5s ease; }
    .section__concepto_img img:hover {
      cursor: crosshair;
      width: 50%;
      height: auto;
      opacity: 1;
      filter: contrast(120%);
      transform: scale(1); }
    @media (min-width: 488px) {
      .section__concepto_img img:hover {
        width: 10%;
        height: auto;
        opacity: 1; } }

/* Estilos del modal */
.modal {
  display: none;
  /* Oculto por defecto */
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); }

.modal-content {
  margin: auto;
  max-width: 80%;
  max-height: 80%;
  transition: transform 0.3s ease; }

.modal-img {
  width: 40%;
  height: 100%; }

@media (max-width: 1200px) {
  .modal-img {
    width: 50%; } }

@media (max-width: 992px) {
  .modal-img {
    width: 60%; } }

@media (max-width: 768px) {
  .modal-img {
    width: 70%; } }

@media (max-width: 576px) {
  .modal-img {
    width: 80%; } }

@media (max-width: 400px) {
  .modal-img {
    width: 90%; } }

.close-modal {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  background-color: transparent;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer; }

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: transparent; }

#prev, #next {
  font-size: 70px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background-color: transparent; }

#prev {
  left: 10px; }

#next {
  right: 10px; }

.container-img {
  width: 95%;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50rem;
  margin: auto; }
  @media (min-width: 488px) {
    .container-img {
      width: 100%;
      max-width: 75%;
      margin: auto;
      margin-top: 4rem;
      margin-bottom: 4rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat 3, 1fr;
      grid-gap: 2rem; } }
  .container-img .box-img {
    width: 100%;
    height: 100%; }
    .container-img .box-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .container-img .box-img:nth-child(1) {
      grid-column-start: span 1;
      grid-row-start: span 2; }
    .container-img .box-img:nth-child(2) {
      grid-column-start: span 2;
      height: auto;
      object-fit: cover; }

.container-img-2 {
  width: 95%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20rem;
  margin: auto;
  grid-template-rows: 50rem; }
  @media (min-width: 488px) {
    .container-img-2 {
      width: 100%;
      max-width: 75%;
      margin: auto;
      margin-top: 4rem;
      margin-bottom: 4rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat 3, 1fr;
      grid-gap: 2rem; } }
  .container-img-2 .box-img {
    width: 100%;
    height: 100%; }
    .container-img-2 .box-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .container-img-2 .box-img:nth-child(1) {
      grid-column-start: span 3; }
    .container-img-2 .box-img:nth-child(2) {
      grid-column-start: span 1; }

.container-img-3 {
  width: 95%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20rem;
  margin: auto;
  grid-template-rows: 50rem; }
  @media (min-width: 488px) {
    .container-img-3 {
      width: 100%;
      max-width: 75%;
      margin: auto;
      margin-top: 4rem;
      margin-bottom: 4rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat 3, 1fr;
      grid-gap: 2rem; } }
  .container-img-3 .box-img {
    width: 100%;
    height: 100%; }
    .container-img-3 .box-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .container-img-3 .box-img:nth-child(1) {
      grid-column-start: span 3; }
    .container-img-3 .box-img:nth-child(2) {
      grid-column: 2 / span 2; }
    .container-img-3 .box-img:nth-child(3) {
      grid-column: 1 / span 2; }
    .container-img-3 .box-img:nth-child(4) {
      grid-column: span 3;
      height: 100%; }
      @media (min-width: 488px) {
        .container-img-3 .box-img:nth-child(4) {
          height: 50rem; } }
    .container-img-3 .box-img:nth-child(5) {
      grid-column: 1 / span 2; }
    .container-img-3 .box-img:nth-child(6) {
      grid-column: 2 / span 2; }
  .container-img-3 .box-img {
    width: 100%;
    height: 100%; }
    .container-img-3 .box-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.8s ease, transform 0.8s ease; }
    .container-img-3 .box-img:hover img {
      filter: brightness(110%);
      transform: scale(1.05); }

.card {
  width: 35rem;
  height: 45rem;
  background: black;
  background: linear-gradient(90deg, black 0%, #141414 50%, #1b1a1a 100%);
  transition: 1s ease-in-out;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 10rem auto;
  padding-bottom: 15rem; }
  .card:hover {
    transform: scale(1.05);
    transition: 0.3s; }
  @media (min-width: 488px) {
    .card {
      width: 40rem;
      height: 50rem; } }
  .card span {
    font-weight: bold;
    color: #fff;
    text-align: center;
    display: block;
    font-size: 3rem;
    background: black;
    background: linear-gradient(90deg, black 0%, #141414 50%, #1b1a1a 100%); }
  .card .info {
    font-weight: 400;
    color: #fff;
    background: black;
    background: linear-gradient(90deg, black 0%, #141414 50%, #1b1a1a 100%);
    display: block;
    text-align: center;
    font-size: 1.2rem;
    margin: 1em; }
  .card .img {
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    margin: auto; }

.share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
  background: linear-gradient(90deg, black 0%, #141414 50%, #1b1a1a 100%);
  gap: 1rem; }
  .share a {
    transition: .4s ease-in-out;
    width: 3rem;
    height: 1.5rem; }
    .share a:hover {
      background-color: #141414;
      transform: scale(1.05);
      transition: 0.3s; }
  .share svg {
    width: 3rem;
    height: 3rem;
    background-color: #141414; }
