.section-portada {
    max-width: 100%;
    display: flex; /* Asegura que la imagen se centre */
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
}

.img-portada {
    width: 100%; /* Ajusta al 100% del contenedor */

    object-fit: cover; /* Ajusta la imagen sin distorsionarla */

    @include telefono {
        height: 60rem; /* Cambia la altura en pantallas más pequeñas */
    }
}