.card {
    width: 35rem;
    height: 45rem;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 50%, rgba(27,26,26,1) 100%);
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 10rem auto;
    padding-bottom: 15rem;
    &:hover{
        transform: scale(1.05);
        transition: 0.3s;
    }
    
    @include telefono{
        width: 40rem;
        height: 50rem;
    }
    

    span {
        font-weight: bold;
        color: #fff;
        text-align: center;
        display: block;
        font-size: 3rem;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 50%, rgba(27,26,26,1) 100%);
    }

    .info {
        font-weight: 400;
        color: #fff;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 50%, rgba(27,26,26,1) 100%);
        display: block;
        text-align: center;
        font-size: 1.2rem;
        margin: 1em;
    }

    .img {
        width: 7rem;
        height: 7rem;
        border-radius: 100%;
        margin: auto;
    }
}

.share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 50%, rgba(27,26,26,1) 100%);
    gap: 1rem;
    a{
        transition: .4s ease-in-out;
        width: 3rem;
        height: 1.5rem;


        &:hover{
            background-color: rgba(20,20,20,1);
            transform: scale(1.05);
            transition: 0.3s;
        }
    }
    
    svg{
        width: 3rem;
        height: 3rem;
        background-color: rgba(20,20,20,1);
    }
}




